*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}
#container{
    display: flex;
    flex-direction: row;
}
#left{
    width: 25%;
    height: 100vh;
    overflow: auto;
}
#map {
    height: 100vh;
    width: 75%;
}
.listitem{
    padding: 1rem;
    margin: 1rem;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}
#load{
    position: absolute;
    background-color: blueviolet;
    padding: 1rem;
    top: 0%;
    left: 50%;
    z-index: 999;
}
#toggle{
    z-index: 999;
    padding: 1rem;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: brown;
    color: wheat;
}
input{
    display: none;
}
label{
    padding: 1rem;
}
label:hover{
    cursor: pointer;
}
input[name='type']:checked+label{
    background-color: aqua;
    color: black;
}